
.heading-section{
    padding-top: 30px;
    padding-left: 20px;
}
.container1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 40px;
}

.item {
  width: 270px;
  height: 400px;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
}

.item:hover img {
  transform: scale(1.1);
}






















