/* body {
  font-family: Arial, sans-serif;
  background: #000;
  padding: 20px;
  color: #fff;
} */
.main-banner {
  background-image: url(/static/audio/image/download\ \(1\).webp);
  background-position:center center;
  background-size:cover;
  min-height: 380px;
  border-radius: 23px;
  padding: 80px 60px;
}




.container3{
  /* max-width: 750px; */
   margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  /* padding: 20px; */
  /* background: #1a1a1a; */
  border-radius: 12px; 
  box-shadow: 0 4px 15px rgba(57, 57, 57, 0.1)
}

textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #2e2c2c;
  font-size: 15px;
  margin-bottom: 15px;
  background: #000;
  color: #fff;
}

select {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #555;
  background: #000;
  color: #fff;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-generate {
  background: #7a5bff;
  color: #fff;
}

.btn-download{
  background: #15b630;
  color: #fff;
}















/* body {
    background: #fafafa;
    font-family: Arial, sans-serif;
} */

/* MAIN GRID */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 25px;
    padding: 20px;
}

/* CARD BOX */
.card {
    background: #ffffff;
    border-radius: 18px;
    padding: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: 0.2s;
}

/* IMAGE WRAPPER */
.image-wrapper {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}

/* IMAGE */
.card-img {
    width: 100%;
    border-radius: 16px;
    transition: 0.35s;
}

/* HOVER ZOOM */
.image-wrapper:hover .card-img {
    transform: scale(1.08);
}

/* PLAY BUTTON - CENTER */
.play-btn {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0,0,0,0.25);
    transition: 0.2s ease;
}

/* PLAY BUTTON hover */
.play-btn:hover {
    transform: scale(1.1);
}

/* TEXT BELOW CARD */
.details {
    margin-top: 12px;
}

.details h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.details p {
    margin: 4px 0 0 0;
    color: #666;
    font-size: 13px;
}



h3{
  color: #000;
}