/* .nav{
    margin-bottom: 30px;
} */


.main-banner {
    background-image: url(/static/image/NEisenman-TheTriumphOfPoverty-2009-copy-scaled-e1689334777157-1170x655-11.webp);
    background-position: center center;
    background-size: cover;
    min-height: 380px;
    border-radius: 23px;
    padding: 80px 60px;
}

.heading-section {
    padding-top: 30px;
    padding-left: 20px;
}

.container1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;
}

/* .container {
  display: flex;
  gap: 20px;
  padding: 40px;
} */

.item {
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease;
}

.item:hover img {
    transform: scale(1.1);
}




.container5 {
    width: 90%;
    max-width: 900px;
    background: #111;
    padding: 40px;
    margin: 40px 0;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

textarea {
    width: 100%;
    height: 140px;
    background: #222;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px;
    border-radius: 10px;
    font-size: 16px;
    resize: none;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 15px;
    background: #007bff;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #005dc1;
}

.image-wrapper {
    margin-top: 25px;
    padding: 15px;
    background: #222;
    border-radius: 12px;
    text-align: center;
}

.image-wrapper img {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    border: 3px solid #333;
}

/* Download Button */
.download-btn {
    width: 100%;
    padding: 15px;
    background: #28a745;
    margin-top: 15px;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    /* border: none; */
    cursor: pointer;
    display: block;
    text-align: center;
}

/* Make buttons clickable even inside <a> */
a {
    text-decoration: none;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .container {
        padding: 20px;
        width: 95%;
    }

    textarea {
        height: 120px;
    }

    h2 {
        font-size: 24px;
    }

    button,
    .download-btn {
        font-size: 16px;
        padding: 12px;
    }
}

@media (max-width: 480px) {
    textarea {
        height: 100px;
        font-size: 14px;
    }

    h2 {
        font-size: 22px;
    }

    .container {
        padding: 15px;
    }
}



select {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #201d1d;
    margin-top: 10px;
    font-size: 15px;
}

.error-box {
    background: #ffdddd;
    padding: 12px;
    border-left: 5px solid red;
    margin-top: 15px;
    border-radius: 6px;
}