.main-banner {
  background-image: url(/static/image/download\ \(11\).webp);
  background-position: center center;
  background-size: cover;
  min-height: 380px;
  border-radius: 23px;
  padding: 80px 60px;
}


.container6 {
  width: 100%;
  max-width: 700px;
  background: #111;
  padding: 25px;
  border-radius: 12px;
  margin-top: 50px;
  padding: 20px;
}

h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  background: #222;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #444;
  resize: vertical;
  font-size: 16px;
  min-height: 180px;
  margin-right: 10px;
}

button {
  width: 100%;
  padding: 14px;
  border: none;
  background: #28a745;
  color: #fff;
  font-size: 18px;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
}

.summary-box {
  margin-top: 25px;
  background: #222;
  padding: 10px;
  /* padding-right: 25px; */
  border-radius: 10px;
  border: 1px solid #555;
}

.summary-box textarea {
  min-height: 150px;
  padding-bottom: 0;
  /* padding-right: 0; */
}